<body id="app-root" class="">
  <div class="app-container">
    <header class="header-container">
      <nav class="nav-container">
        <ul class="nav-container__list-container">
          <li class="list-container__list-item">
            <a href="/" class="<%= path && path === '/' ? 'active' : '' %>">
              Shop
            </a>
          </li>
          <li class="list-container__list-item">
            <a href="/catalog" class="<%= path && path === '/catalog' ? 'active' : '' %>">
              Catalog
            </a>
          </li>
          <li class="list-container__list-item">
            <a href="/cart" class="<%= path && path === '/cart' ? 'active' : '' %>">
              Cart
            </a>
          </li>
          <li class="list-container__list-item">
            <a href="/admin/edit-product" class="<%= path && path === '/admin/edit-product' ? 'active' : '' %>">
              Edit Product  
            </a>
          </li>
          <li class="list-container__list-item">
            <a href="/admin/add-product" class="<%= path && path === '/admin/add-product' ? 'active' : '' %>">
              Add Product
            </a>
          </li>
          <li class="list-container__list-item">
            <a href="/admin/product-list" class="<%= path && path === '/admin/product-list' ? 'active' : '' %>">
              Admin Products
            </a>
          </li>
        </ul>
      </nav>
      <button class="button primary" onclick="changeThemeHandler(this)">
        Change Theme
      </button>
    </header>

    <main class="main-content__container">