<%- include('../includes/head.ejs') %>
</head>

<%- include('../includes/navigation.ejs') %>
<div class="wrapper">
  <h3 class="title" align="center">
    Fill up the form to <% if (editing) { %> edit <% } else { %> add <% } %> a product to the shop.
  </h3>
  <form class="product-form" action="/admin<% if (editing) { %>/edit-product<% } else { %>/add-product<% } %>" method="POST">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" name="title" id="title" value="<% if (editing) { %><%= product.title %><% } %>">
      <label class="mdl-textfield__label" for="title">
        Title
      </label>
    </div>
    <div class="form-control">
      <input type="file" id="imageUrl" data-multiple-caption="{count} files selected" multiple
        accept=".svg, .png">
      <label for="imageUrl">
        <span class="icon-container secondary">
          <i class="fas fa-upload"></i>
        </span>
        Add Image
      </label>
      <div class="img-preview__container">
        <% if (editing) { %>
          <% if (typeof product.imageUrl === [] && product.imageUrl.length) { %>
            <% product.imageUrl.map(img => { %>
              <figure class="img-preview__item-container">
                <img src="<%= img %>" alt="<%= product.title %>" class="img-preview__item">
                <figcaption><%= product.title %></figcaption>
              </figure>
              <% }) } else { %>
                <figure class="img-preview__item-container">
                  <img src="<%= product.imageUrl %>" alt="<%= product.title %>" class="img-preview__item">
                  <figcaption><%= product.title %></figcaption>
                </figure>
              <% } %>
        <% } %>
      </div>
      <input type="hidden" name="imageUrl" id="imageUrl" value="<% if (editing) { %><%= product.imageUrl %><% } %>">
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="text" name="price" id="price" value="<% if (editing) { %><%= product.price %><% } %>">
      <label class="mdl-textfield__label" for="price">
        Price
      </label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <textarea class="mdl-textfield__input" rows="5" name="description" id="description"><% if (editing) { %><%= product.description %><% } %></textarea>
      <label class="mdl-textfield__label" for="description">
        Description
      </label>
    </div>
    <% if (editing) { %>
      <input type="hidden" name="id" value="<%= product.id %>">
    <% } %>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--secondary" type="submit">
      <% if (editing) { %> Edit Product <% } else { %> Add Product <% } %>
    </button>
  </form>
</div>
<%- include('../includes/end.ejs') %>
