<%- include('./head.ejs') %>
</head>

<%- include('./navigation.ejs') %>
<div class="confirm-wrapper" style="background: url(/assets/images/<%= background %>) center center no-repeat;">
  <div class="confirm-container">
    <p>Your cart has been deleted successfully!</p>
    <a href="<%= redirect %>" class="button mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--secondary">Ok</a>
  </div>
</div>

<%- include('./end.ejs') %>