<body id="app-root" class="">
  <div class="app-container mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <div class="logo-container mdl-layout-title">
          <div class="logo" onclick="returnHomeHandler(this)"></div>
        </div>
        <div class="mdl-layout-spacer"></div>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a href="/cart" class="mdl-navigation__link <%= path && path === '/cart' ? 'active' : '' %>">
            <span class="icon-container icon__secondary">
              <i class="fas fa-shopping-cart"></i>
            </span>
          </a>
          <a href="/" class="mdl-navigation__link <%= path && path === '/' ? 'active' : '' %>">
            Shop
          </a>
          <a href="/catalog" class="mdl-navigation__link <%= path && path === '/catalog' ? 'active' : '' %>">
            Catalog
          </a>
        </nav>
        <button id="settings" class="mdl-button mdl-js-button mdl-button--icon">
          <i class="material-icons">more_vert</i>
        </button>
      </div>
    </header>
    <div class="mdl-layout__drawer">
      <nav class="mdl-navigation">
        <a href="/cart" class="mdl-navigation__link <%= path && path === '/cart' ? 'active' : '' %>">
          <span class="icon-container icon__secondary">
            <i class="fas fa-shopping-cart"></i>
          </span>
        </a>
        <a href="/" class="mdl-navigation__link <%= path && path === '/' ? 'active' : '' %>">
          Shop
        </a>
        <a href="/catalog" class="mdl-navigation__link <%= path && path === '/catalog' ? 'active' : '' %>">
          Catalog
        </a>
      </nav>
    </div>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="settings">
      <a href="/login" disabled class="mdl-menu__item <%= path && path === '/login' ? 'active' : '' %>">
        Sign In/Up
      </a>
      <a href="/admin/product-list" disabled class="mdl-menu__item <%= path && path === '/admin/product-list' ? 'active' : '' %>">
        Admin Products
      </a>
      <a href="/admin/add-product" disabled class="mdl-menu__item <%= path && path === '/admin/add-product' ? 'active' : '' %>">
        Add Product
      </a>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--primary"
        onclick="changeThemeHandler(this)">
        Change Theme
      </button>
    </ul>
    <main class="mdl-layout__content">
      <div class="page-content">
