<%- include('../includes/head.ejs')  %>
  <link rel="stylesheet" href="/css/shop.css">
</head>

<%- include('../includes/navigation.ejs') %>
  <% const productID = localStorage.getItem('product_id')  %>
  <h1 class="title">
    Product Details Page
  </h1>
  <div>
    <% products.map(product => { if (product.id === productID) { %>
      <p>
        <%= product.id %>
      </p>
    <% } else { %>
      <p>
        <%= product.id %>
      </p>
    <% }}) %>
  </div>
<%- include('../includes/end.ejs') %>