<%- include('../includes/head.ejs')  %>
<link rel="stylesheet" href="/css/shop.css">
</head>

<%- include('../includes/navigation.ejs') %>
<div class="cart__container">
  <div class="cart__item-list__container">
    <% let cartTotal = 0 %>
    <% let cartId = '' %>
    <% if (products.length > 0) { %>
    <ul class="item-list__wrapper">
      <% products.forEach(({ id, title, imageUrl, price, cartItem: { quantity, cartId } }) => { %>
      <% cartId = cartId %>
      <li class="item-list__item">
        <div class="item__head">
          <span class="item-head__title"><%= title %></span>
          <div class="item-head__img-container">
            <img src="<%= imageUrl %>" alt="<%= title %>">
          </div>
        </div>
        <div class="item__body">
          <div class="item-body__price">
            <span class="item-price__title">
              price
            </span>
            <span class="item-price__price">
              $ <%= price %>
            </span>
          </div>
          <div class="item-body__qty">
            <span class="item-qty__title">
              qty
            </span>
            <span class="item-qty__qty">
              <%= quantity %>
            </span>
          </div>
          <div class="item-body__total">
            <span class="item-total__title">
              total
            </span>
            <span class="item-total__total">
              $ <%= price * quantity %></p>
            </span>
          </div>
        </div>
        <% cartTotal = cartTotal + (price * quantity) %>
        <form action="/cart-delete-item" method="post" class="item__actions">
          <input type="hidden" name="id" value="<%= id %>">
          <button type="submit" class="button secondary">Delete</button>
        </form>
      </li>
      <% }) %>
    </ul>
    <% } else { %>
    <h2 class="item-list__wrapper">
      No products in Cart Yet!
    </h2>
    <% } %>
    <div class="item-list__controls">
      <form action="/cart-delete" method="post" class="item__actions">
        <input type="hidden" name="cartId" value="<%= cartId %>">
        <button type="submit" class="button secondary">Delete Cart</button>
      </form>
      <a href="/catalog" class="button secondary">
        Continue Shopping
      </a>
      <form action="/order-create" method="post" class="item__actions">
        <button type="submit" class="button secondary">Order Now!</button>
      </form>
    </div>
  </div>
  <div class="cart__summary">
    <p>Total on Cart: $ <%= cartTotal %></p>
  </div>
</div>

<%- include('../includes/end.ejs') %>
