<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/shop.css">
</head>
<%- include('../includes/navigation.ejs') %>
  <div class="main-content__hero-container">
    <div class="hero-container__cover">
      <div class="logo-alt__container Zoom-in Delay">
        <div class="logo-alt"></div>
      </div>
      <h1 class="title title__head Fade-up">
        Shop4Any
      </h1>
      <h1 class="title title__head-sub Fade-right Delay">
        Where in our store, you can find the latest gadgets or anything you may like!
      </h1>
      <span class="hero-cover__go-down Beat Long-delay" id="go-down">
        <i class="fas fa-chevron-down"></i>
      </span>
    </div>
  </div>
<% if (products.length > 0) { %>
  <div class="wrapper">
    <h1 class="title">Hot Products!</h1>
    <div class="grid">
        <% products.map(product => { %>
        <article class="card__product-item">
          <div class="card__header">
            <h1 class="title">
              <%= product.title %>
            </h1>
          </div>
          <a class="card__image" href="/catalog/<%= product.id %>" onclick="productDetailsHandler(<%= product.id %>)">
            <img src="<%= product.imageUrl %>" alt="<%= product.imageUrl %>">
          </a>
          <div class="card__content">
            <h2 class="product__price">
              $ <%= (product.price).toFixed(2) %>
            </h2>
            <p class="product__description">
              <%= (product.description).substring(0, 50) %> ...
            </p>
          </div>
          <div class="card__actions">
            <%- include('../includes/add-save.ejs', { product }) %>
          </div>
        </article>
        <% }) %>
        <h3 class="title">
          <a href="/catalog">See all products</a>
        </h3>
      </div>
    <% } else { %>
      <h1 class="title">No Products Found!</h1>
    <% } %>
  </div>
<%- include('../includes/end.ejs') %>