<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/shop.css">
</head>
<%- include('../includes/navigation.ejs') %>
<div class="head-catalog__container Opacity-In">
  <div class="head-catalog__img-container">
    <h2>If you are looking the latest shirt or phone, we got it!</h2>
    <h2>As a community, we can get what you're looking for.</h2>
  </div>
</div>
<div class="wrapper">
  <% if (products.length > 0) { %>
  <ul class="grid">
    <% products.map(product => { %>
    <li>
      <div class="mdl-card card__product-item" id="<%= product.id %>">
        <a class="mdl-card__title mdl-card--expand" style="background: url(<%= product.imageUrl %>) no-repeat"
          href="/catalog/<%= product.id %>" onclick="productDetailsHandler(<%= product.id %>)">
          <h2 class="mdl-card__title-text">
            <%= product.title %>
          </h2>
        </a>
        <div class="mdl-card__supporting-text">
          <h4 class="product__price">
            $ <%= (product.price).toFixed(2) %>
          </h4>
          <p class="product__description">
            <%= (product.description).substring(0, 50) %> ...
          </p>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <%- include('../includes/add-save.ejs', { product }) %>
        </div>
      </div>
    </li>
    <% }) %>
  </ul>
  <% } else { %>
  <h1 class="title">No Products Found!</h1>
  <% } %>
</div>
<%- include('../includes/end.ejs') %>
