<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/shop.css">
</head>
<%- include('../includes/navigation.ejs') %>
<div class="head-catalog__container Opacity-In">
  <div class="head-catalog__img-container">
    <p>If you are looking the latest shirt or phone, we got it!</p>
    <p>As a community, we can get what you're looking for.</p>
  </div>
</div>
<div class="wrapper">
  <% if (products.length > 0) { %>
    <div class="grid">
      <% products.map(product => { %>
      <article class="card__product-item" id="<%= product.id %>">
        <div class="card__header">
          <h1 class="title">
            <%= product.title %>
          </h1>
        </div>
        <a class="card__image" href="/catalog/<%= product.id %>" onclick="productDetailsHandler(<%= product.id %>)">
          <img src="<%= product.imageUrl %>" alt="A Book">
          <!-- <img src="https://cdn.pixabay.com/photo/2016/03/31/20/51/book-1296045_960_720.png" alt="A Book"> -->
        </a>
        <div class="card__content">
          <h2 class="product__price">
            $ <%= (product.price).toFixed(2) %>
          </h2>
          <p class="product__description">
            <%= (product.description).substring(0, 50) %> ...
          </p>
        </div>
        <div class="card__actions">
          <%- include('../includes/add-save.ejs', {product}) %>
        </div>
      </article>
      <% }) %>
    </div>
  <% } else { %>
    <h1 class="title">No Products Found!</h1>
  <% } %>
</div>
<%- include('../includes/end.ejs') %>
