<%- include('../includes/head.ejs')  %>
  <link rel="stylesheet" href="/css/shop.css">
</head>

<%- include('../includes/navigation.ejs') %>
  <div class="wrapper">
    <div class="product-detail__container">
      <div class="product-detail__img-container">
        <div class="img-container__main">
          <img src="<%= product.imageUrl %>" alt="">
        </div>
        <div class="img-container__sub-imgs">
          <div class="sub-img__container">
            <img src="<%= product.imageUrl %>" alt="">
          </div>
          <div class="sub-img__container">
            <img src="<%= product.imageUrl %>" alt="">
          </div>
          <div class="sub-img__container">
            <img src="<%= product.imageUrl %>" alt="">
          </div>
        </div>
      </div>
      <div class="product-detail__description-container">
        <div class="description-container__title">
          <h1 class="title">
            <%= product.title %>
          </h1>
        </div>
        <div class="description-container__main">
          <p><%= product.description %></p>
        </div>
        <div class="description-container__more-info">
          <h3>Additional Information</h3>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam quisquam nobis sunt nemo? Iure sapiente, commodi minima vitae excepturi, delectus quisquam quasi nemo ipsam eum quia itaque? Similique, sed explicabo!</p>
        </div>
        <div class="description-container__options-container">
          <div class="options-container__price">
            <span class="price__main" style="text-decoration: <%= product.discount ? 'line-through' : 'none' %>; color: <%= product.discount ? '#f44' : '' %>; font-size: <%= product.discount ? '20px' : '' %>">
              $ <%= (product.price).toFixed(2) %>
            </span>
            <span class="<%= product.discount ? price__discount : '' %>">
              <%= product.discount || null %>
            </span>
          </div>
          <div class="options-container__actions">
            <%- include('../includes/add-save.ejs') %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include('../includes/end.ejs') %>